*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif
}
.container{
    margin: 20px auto;
    width: 1200px;
}
hr{
    border: 1px solid #EEE;
}
.row{
    display: flex;
}
.game-info{
    display: flex;
    font-size: 20px;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #E91E63;
    font-weight: bold;
}
.hangman-drow{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}
.hangman-drow.wrong-1 .the-drow{
    display: block;
}
.hangman-drow.wrong-2 .the-stand{
    display: block;
}
.hangman-drow.wrong-3 .the-hang{
    display: block;
}
.hangman-drow.wrong-4 .the-rope{
    display: block;
}
.hangman-drow.wrong-5 .the-man .head{
    display: block;
}
.hangman-drow.wrong-6 .the-man .body{
    display: block;
}
.hangman-drow.wrong-7 .the-man .hands{
    display: block;
}
.hangman-drow.wrong-8 .the-man .legs{
    display: block;
}

.hangman-drow .the-drow{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    display: none;
}
.hangman-drow .the-stand,
.hangman-drow .the-hang::before,
.hangman-drow .the-hang::after,
.hangman-drow .the-man .body,
.hangman-drow .the-man .hands::before,
.hangman-drow .the-man .hands::after,
.hangman-drow .the-man .legs::before,
.hangman-drow .the-man .legs::after{
    background: #222;
    position: absolute;
}
.hangman-drow .the-stand{
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangman-drow .the-hang{
    display: none;
}
.hangman-drow .the-hang::before{
    content: "";
    height: 4px;
    width: 100px;
    left: 30px;
    top: 12px;
}
.hangman-drow .the-hang::after{
    content: "";
    width: 4px;
    height: 30px;
    left: 130px;
    top: 12px;
}

.hangman-drow .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px dashed #222;
    left: 97px;
    top: 38px;
    position: absolute;
    display: none;
}
.hangman-drow .the-man .head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    left: 107px;
    top: 47px;
    position: absolute;
    display: none;
}
.hangman-drow .the-man .body{
    width: 4px;
    height: 130px;
    left: 130px;
    top: 93px;
    display: none;
}
.hangman-drow .the-man .hands::before,
.hangman-drow .the-man .hands::after{
    content: '';
    height: 4px;
    width: 50px;
    top: 140px;
}
.hangman-drow .the-man .hands::before{
    transform: rotate(30deg);
    left: 87px;

}
.hangman-drow .the-man .hands{
    display: none;
}
.hangman-drow .the-man .hands::after{
    transform: rotate(-30deg);
    left: 127px;

}
.hangman-drow .the-man .legs{
    display: none;
}
.hangman-drow .the-man .legs::before,
.hangman-drow .the-man .legs::after{
    content: '';
    height: 4px;
    width: 50px;
    top: 232px;
}
.hangman-drow .the-man .legs::before{
    transform: rotate(-30deg);
    left: 84px;

}
.hangman-drow .the-man .legs::after{
    transform: rotate(30deg);
    left: 129px;
}
.letters.finished{
    pointer-events: none;
}
.letters{
    flex: 1;
    padding: 20px;
    text-align: center;
}

.letters .box-letter{
    width: 55px;
    height: 55px;
    background: #009688;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 55px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 5px 3px #00000070;
    border-radius: 4px;
}
.letters .box-letter.clicked{
    background-color: #222;
    opacity: 0.2;
    pointer-events: none;
}
.letters-guess{
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}

.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #222;
    transition: 0.3s;
}

.letters-guess span.with-space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.with-space::after{
    content: '';
    position: absolute;
    background-color: #009688;
    width: 20px;
    height: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overlay-corect,
.overlay-wrong{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00000080;
    transition: all 0.5s;
    transform: scale(0);
    z-index: 100;
}
.overlay-corect div,
.overlay-wrong div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay-corect div h3 {
    margin-left: 10px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    color: #009688;
    font-size: 50px;
}
.overlay-wrong div h3{
    color: rgb(222, 5, 5);
    font-size: 50px;
}
.overlay-wrong div p {
    font-size: 25px;
}
.overlay-wrong div span {
    font-weight: bold;
    margin-left: 10px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    color: #009688;
}





























